.button.insert-onedrive,
.button.insert-onedrive:hover,
.button.insert-onedrive:active,
.button.insert-onedrive:focus {
  float: right;
  margin-right: 7px;
  background-image: url("../../../css/images/onedrive_logo.svg");
  background-repeat: no-repeat;
  background-position: 6px center;
  padding-left: 25px;
  background-size: 1em;
}

#woocommerce-product-data ul.wc-tabs li.cloud-uploads-onedrive_options a:before {
  font-family: Dashicons;
  content: '\f176';
}

.show_if_shareonedrive_upload_box {
  background: #fff;
  border: 1px solid #e5e5e5;
  margin: 5px 15px 10px;
  padding: 1px 12px;
  position: relative;
  overflow: hidden;
}